[submodule "GLFW"]
	path = vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Glad"]
	path = vendor/Glad
	url = https://github.com/XakNitram/Glad.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
